/RGB_LINEAR_RGB_class1_class4_exp1_cc_1.LireColorDescriptors.csv
/RGB_LINEAR_RGB_class1_class4_exp1_cc_1.tsv
/.idea
/venv
/tmp
/LireColorDescriptors/lirecolordescriptors.jar
/tmp1/
/not_calibrated_class2_cc_ctrl_2.tsv

